::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    /* overflow: scroll; */
}
   
::-webkit-scrollbar-thumb {
    background: #00000090;
    border-radius: 5px;
    /* overflow: scroll; */
}
::-webkit-scrollbar-track {
   background: #00000050;
   /* overflow: scroll; */
}